body{
	margin:0;
	font-family: 'Comic Neue', cursive;
	background:#e5e3e3;
}

.menu{
	background: #ff0000;
	height: 10vh;
}
.menu .contenedor{
	display: flex;
	justify-content: space-between;
	margin:auto;
}


.contenedor-botones{
	background: #ff0000;
	display: flex;	
	align-items: center;
	justify-content: center;
}

#contenedor-titulo-flex{
	margin:auto;
}

.menu p{
	font-size: 30px;
	font-weight: bold;
	color:#eee14d;
	margin-top:5px;
}
.menu .wha{
	vertical-align: middle;
	height: 5vh;
	margin:10px;
	margin-top:10px;
}
.menu .logo{

	vertical-align: middle;
	height: 10vh;
	margin-top: 5px;
	z-index: 100;
}


#contenedor-titulo-flex ul li{
list-style: none;
margin:0;
}
a{
	text-decoration:none;
}
ul{
	display: flex;

}

#contenedor-titulo-flex a{
	
	font-family: 'Baloo Tamma 2', cursive;
	
	border-right: 5px solid #eee14d;
	font-size:16px;
	margin:0;
	color:#eee14d;
	background:#ff0000;
	padding-top: 15px;
	text-align: center;
	width: 145px;
	height: 30px;
	display:inline-block;
}

#contenedor-titulo-flex .inicio{
	border-left: 5px solid #eee14d;
	display: inline-block;
}

.contenedor-imagen {
	margin-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul {
	margin: 0;
	line-height: 10px;
}

section{
	background: #e5e3e3;
	padding: 50px;
}

section .galeria{
	justify-content: center;
	display: block; 
	text-align: center;
	//border: 3px solid green; //util para deputar donde esta el la galeria
}


section .galeria .fotos{
	margin:0 2px;

}

footer .contenedor{
	display: flex;
	justify-content: space-between;
}

footer{
	background: #ff0000;
}


footer .contenedor{
	width: 93%;
	margin:auto;
}
footer img{
	margin: 5px;
  }

  .direcciones{
  	width: 20%;
  }

.direcciones .titulo{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin:0;
	color:#eee14d;
}

.direcciones .ciudad{
	font-size: 18px;
	text-align: center;
	color: #eee14d;
}

.direcciones .direccion{
	font-size: 16px;
	text-align: center;
	color:#eee14d;
}

.redes .titulo{
	font-size: 30px;
	font-weight: bold;
	margin-top:5px;
	margin:0;
	color:#eee14d;
}
.redes p{
	margin:0;
}

.redes .face{
	margin-top: 18px;
}
