body{
	margin:0;
	font-family: 'Comic Neue', cursive;
	background: #e5e3e3;
}

.menu{
	background: #ff0000;
	height: 10vh;	
}

.linea{
	background: #e5e3e3;
	height: 1vh;
}

.menu .contenedor{
	display: flex;
	justify-content: space-between;
	max-width: 1366px;
	width: 90%;
	margin-bottom: 10px;
	margin:auto;

}

.contenedor-botones{
	
	background: #ff0000;
	display: flex;
	margin-top:10px;
	height: 7vh;
	justify-content: space-between;
	max-width: 1366px;
	
	margin:auto;


}

#contenedor-titulo-flex{
	max-width: 1280px;
	width: 78%;
	margin:auto;
	height: 55px;
}

#contenedor-titulo-flex ul{
	margin:0;
}

.menu p{
	font-size: 30px;
	font-weight: bold;
	color:#eee14d;
	margin-top:5px;
}
.menu .wha{
	vertical-align: middle;
	height: 5vh;
	margin:10px;
	margin-top:10px;
}
.menu .logo{

	vertical-align: middle;
	height: 10vh;
	margin-top: 5px;
	z-index: 100;
}


#contenedor-titulo-flex ul li{
list-style: none;
margin:0;
}
a{
	text-decoration:none;
}
.contenedor-botones ul{
	display: flex;

}

#contenedor-titulo-flex a{
	
	font-family: 'Baloo Tamma 2', cursive;
	
	border-right: 5px solid #eee14d;
	font-size:16px;
	margin:0;
	color:#eee14d;
	background:#ff0000;
	padding-top: 15px;
	text-align: center;
	width: 145px;
	height: 30px;
	display:inline-block;
}

#contenedor-titulo-flex .inicio{
	border-left: 5px solid #eee14d;
	display: inline-block;
}




section .contenedor{
	width: 90%;
	height: 80vh;
	max-width: 1366px;
	margin:auto;
	background:#e5e3e3;
}



.titulo{
	font-size: 30px;
	color:#fb0752;
	font-weight: bold;	
}

.parrafo{
	font-size: 18px;
	color:#000;
	text-align: justify;
}

section img{
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
}










footer .contenedor{
	
	display: flex;
	justify-content: space-between;
}

footer{
	background: #ff0000;
}


footer .contenedor{
	max-width: 1366px;
	width: 93%;
	margin:auto;
}
footer img{
	margin: 5px;
  }

  .direcciones{
  	width: 20%;
  }

.direcciones .titulo{
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	margin:0;
	color:#eee14d;
}

.direcciones .ciudad{
	font-size: 18px;
	text-align: center;
	color: #eee14d;
}

.direcciones .direccion{
	font-size: 16px;
	text-align: center;
	color:#eee14d;
}

.redes .titulo{
	font-size: 30px;
	font-weight: bold;
	margin-top:5px;
	margin:0;
	color:#eee14d;
}
.redes p{
	margin:0;
}

.redes .face{
	margin-top: 18px;
}